<h1>Cadatrar Transportadora</h1>
<%= form_with model: @carrier do |c| %>
  <div>
    <%= c.label :corporate_name, 'Razão Social' %>
    <%= c.text_field :corporate_name %>
  </div>
  
  <div>
    <%= c.label :brand_name, 'Nome Fantasia' %>
    <%= c.text_field :brand_name %>
  </div>

  <div>
    <%= c.label :email_domain, 'Domínio'%>
    <%= c.text_field :email_domain %>
  </div>

  <div>
    <%= c.label :taxpayer_number, 'CNPJ' %>
    <%= c.number_field :taxpayer_number %>
  </div>

  <div>
    <%= c.label :status, 'Status' %>
    <%= c.select :status, Carrier.statuses.keys %>
  </div>
  <div>
    <%= c.submit 'Enviar' %>
  </div>

<% end  %>