<div class="m-auto" style="max-width: 700px">
<%= form_with model: [:user, @vehicle] do |v| %>
  <div>
    <%= v.label :model %>
    <%= v.text_field :model %>
  </div>
  
  <div>
    <%= v.label :brand %>
    <%= v.text_field :brand %>
  </div>

  <div>
    <%= v.label :year %>
    <%= v.number_field :year %>
  </div>

  <div>
    <%= v.label :license_plate %>
    <%= v.text_field :license_plate %>
  </div>

  <%= v.hidden_field :carrier_id, value: @carrier.id %>

  <div>
    <%= v.submit 'Enviar' %>
  </div>

<% end  %>

<div class="text-center">
  <%= link_to 'Voltar', user_vehicles_path, class: 'btn btn-primary' %>
</div>