<h1 class="text-center"><%= @carrier.brand_name %></h1>
<h2 class= "text-center">Cadastro de Veículos</h2>
<br /><br />
<div class="text-center">
  <%= link_to '+ Adicionar Veículo', new_user_vehicle_path, class: 'btn btn-primary' %>
</div>
<br /><br/>

<table class="table align-middle">
  <tr>
    <th>Modelo</th>
    <th>Ano</th>
    <th>Marca</th>
    <th>Placa</th>
    <th>Transportadora</th>
    <th>Ações</th>
  </tr>
  <% @vehicles.each do |v| %>
    <tr>
      <td><%= v.model %></td>
      <td><%= v.year %></td>
      <td><%= v.brand %></td>
      <td><%= v.license_plate %></td>
      <td><%= v.carrier.brand_name %></td>
      <td><%= link_to 'Editar', edit_user_vehicle_path(v), class: 'btn btn-outline-warning' %></td>
    </tr>
  <% end  %>
</table>
