<%= @carrier.brand_name  %> <br />
<%= @price_range.show_price_range %> <br />
<%= form_with model: [:user, @distance_price] do |c| %>
  <div>
    <%= c.label :km_price, 'Preço / Km' %>
    <%= c.text_field :km_price%>
  </div>

  <%= c.hidden_field :carrier_id, value: @carrier.id %>
  <%= c.hidden_field :price_range_id, value: @price_range.id %>

  <div>
    <%= c.submit 'Enviar' %>
  </div>

<% end  %>