<br />
<h1 class="text-center"><%= current_user.carrier.brand_name %></h1>
<h2 class= "text-center">Configuração de Preços por km</h2>
<br /><br />
<table class="table text-center m-auto align-middle" style="max-width: 800px">
  <thead>
    <tr>
      <th rowspan="2">#</th>
      <th colspan="2">Volume</th>
      <th colspan="2">Peso</th>
      <th rowspan="2">Preço/km</th>
      <th rowspan="2">Ação</th>
    </tr>
    <tr>
      <th>De</th>
      <th>Até</th>
      <th>De</th>
      <th>Até</th>
    </tr>
  </thead>
<% @price_ranges.each do |price_range|  %>
  <tr>
    <td><%= price_range.id %></td>
    <td><%= number_with_precision(price_range.volume_start) %> m³</td>
    <td><%= number_with_precision(price_range.volume_end) %> m³</td>
    <td><%= number_with_precision(price_range.weight_start) %> kg</td>
    <td><%= number_with_precision(price_range.weight_end) %> kg</td>
    <% range_price = @carrier.distance_prices.find_by(price_range_id: price_range.id) %>
    <td>R$ <%= range_price.nil? ? ' ' : number_with_precision(range_price.km_price, precision: 2) %></td>
    <td>
      <%= range_price.nil? ? (link_to 'Criar', new_user_distance_price_path(carrier_id: @carrier.id, price_range_id: price_range.id), class: 'btn btn-outline-info') : (link_to 'Editar', edit_user_distance_price_path(range_price.id), class: 'btn btn-outline-warning') %>
    </td>
  </tr>
<% end  %>
</table>