<div class="text-center">
  <h1>Atualização de Rota de Entrega</h1>
  <h2><%= @order.order_number %></h2>
</div>

<%= form_with model: [@order, @tracking_log] do |log| %>
  <div>
    <%= log.label :what %>
    <%= log.text_field :what %>
  </div>
  <div>
    <%= log.label :where %>
    <%= log.text_field :where %>
  </div>
  

  <div>
    <%= log.submit 'Atualizar Rota' %>
  </div>
<% end %>
<div class="text-center">
  <%= link_to 'Voltar', url_for(:back), class: 'btn btn-secondary', style: '--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;' %>
</div>