<h1>Estimativas de Tempo de Entrega - <%= current_user.carrier.brand_name %></h1>
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>De</th>
      <th>Até</th>
      <th>Tempo estimado</th>
      <th>Ação</th>
    </tr>
  </thead>
  
  <% @delivery_distances.each do |dd| %>
    <tr>
      <td><%= dd.id %></td>
      <td><%= dd.from_km %> km</td>
      <td><%= dd.to_km %> km</td>
      <% distance = @carrier.delivery_times.find_by(delivery_distance_id: dd.id) %>
      <td><%= distance.nil? ? ' ' : (distance.time == 1 ? "#{distance.time} dia" : "#{distance.time} dias" ) %></td>
      <td>
        <%= distance.nil? ? (link_to 'Cadastrar', new_delivery_time_path(carrier_id: @carrier.id, delivery_distance_id: dd.id)) : (link_to 'Editar', edit_delivery_time_path(dd.id)) %>
      </td>
    </tr>
  <% end %>
</table>