
<%= form_with model: @order do |o| %>
<% if @order.errors.any? %>
<div style="color: rgb(255,0,0)">
  <p>Verifique os erros abaixo: </p>
  <ul>
  <% @order.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>
<% end %>


<h2>Informações do pacote:</h2>
<div>
  <%= o.label :package_weight %>
  <%= o.number_field :package_weight, step: :any %> kg
</div>

<div>
  <%= o.label :package_volume %>
  <%= o.number_field :package_volume, step: :any %> m³
</div>

<h2>Localização e Distância</h2>
<div>
  <%= o.label :origin_address %>
  <%= o.text_field :origin_address %>
</div>
  <div>
  <%= o.label :destiny_address %>
  <%= o.text_field :destiny_address %>
</div>
<div>
  <%= o.label :distance %>
  <%= o.number_field :distance %> km
</div>
  

<h2>Escolher Transportadora</h2>
<div>
  <%= o.label :carrier_id, 'Transportadora:' %>
  <%= o.collection_select :carrier_id, @carriers, :id, :brand_name %>
</div>

<%= o.hidden_field :order_value, id: 'total_order_value'  %>
<%= o.hidden_field :delivery_date, id:'delivery_date', value: 10.days.from_now %>
<div>
  <%= o.submit 'Enviar' %>
</div>
<% end %>