<h1 class="text-center">Orçamento</h1>
<br />
<div class="m-auto" style="max-width: 400px">
  <%= form_with url: budgets_orders_path, method: :get do |budget| %>
    <div class="mb-3">
      <%= budget.label :package_volume, 'Volume', class: 'col-sm-2 col-form-label'%>
      <%= budget.number_field :package_volume, step: :any %> (m³)
    </div>

    <div class="mb-3">
      <%= budget.label :package_weight, 'Peso', class: 'col-sm-2 col-form-label' %>
      <%= budget.number_field :package_weight %> kg
    </div>

    <div class="mb-3">
      <%= budget.label :distance, 'Distância' , class: 'col-sm-2 col-form-label'%>
      <%= budget.number_field :distance %> km
    </div>

    <div class="text-center" style="margin-top: 20px;">
      <%= budget.submit 'Consultar', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<hr >

<% if @carriers.empty? %>
  <div>Nenhuma orçamento encontrado.</div>
<% else %>
  <% if params[:package_volume].present? && params[:distance].present? && params[:package_weight].present? %>
  <h3 class="text-center">Resultado de Orçamento por Transportadora</h3>
  <table class="table text-center align-middle">
    <thead>
      <tr>
        <th>Transportadora</th>
        <th>Valor estimado</th>
        <th>Prazo</th>
        <th>Ação</th>
      </tr>
    </thead>
    <tbody>
      <% @carriers.each do |carrier| %>
        <tr>
          <td><%= carrier.brand_name %></td>
          <td>R$ <%= carrier.total_order_value(params[:package_volume].to_f, params[:package_weight].to_f, params[:distance].to_i) %></td>
          <td><%= carrier.estimated_delivery_date(params[:distance].to_i) %> dias</td>
          <td><%= button_to "Abrir ordem na #{carrier.brand_name}.", new_order_path, class: 'btn btn-outline-warning' %></td>
        </tr>
      <% end %>
  </table>
  <% end %>
<% end %>