<h1 class="text-center">Pedidos</h1>
<br />
<% if admin_signed_in? %>
  <div class="text-center">
    <%= link_to 'Novo Pedido', new_order_path, class: 'btn btn-primary' %>
  </div>
<% end %>
<br />
<table class="table text-center align-middle">
  <thead>
  <tr>
    <th>#</th>
    <th>Código</th>
    <th>Transportadora</th>
    <th>Status</th>
    <th colspan="2">Ações</th>
  </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @orders.each do |order| %>
    <tr>
      <td><%= count %></td>
      <td class="font-monospace"><%= order.order_number %></td>
      <td><%= order.carrier.brand_name %></td>
      <td><%= I18n.t(order.status) %></td>
      <% if admin_signed_in? %>
        <td><%= link_to 'Ver Pedido', order_path(order), class: 'btn btn-outline-success' %></td>
        <td><%= link_to 'Editar', edit_order_path(order), class: 'btn btn-outline-warning' %></td>
      <% elsif user_signed_in? %>
        <td><%= link_to 'Atualizar', edit_order_path(order), class: 'btn btn-outline-info' %></td>
      <% end %>
    </tr>
    <% count += 1 %>
    <% end %>
  </tbody>
</table>
<div style="text-align: right"><%= count-1 %> pedido(s) encontrado(s)</div>