<h1 class="text-center">Acompanhamento de Pedido</h1>
<% if @order.present? %>
  <h2 class="text-center"><%= @order.order_number %></h2>
  <dl>
    <dt><%= Order.human_attribute_name(:order_number) %>:</dt>
    <dd><%= @order.order_number %></dd>

    <dt><%= Order.human_attribute_name(:carrier_id) %>:</dt>
    <dd><%= @order.carrier.brand_name %></dd>

    <dt><%= Order.human_attribute_name(:status) %>:</dt>
    <dd><%= I18n.t(@order.status) %></dd>
  </dl>
  <br /><br />
  <% if !@order.tracking_logs.empty? %>
    <table class="table text-center">
     <thead>
        <tr>
         <th>Data</th>
         <th>Descrição</th>
         <th>Local</th>
       </tr>
      </thead>
     <tbody>
       <% @order.tracking_logs.sort.reverse.each do |log| %>
        <tr>
          <td><%= log.when %></td>
          <td><%= log.what %></td>
          <td><%= log.where %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-center">
      <p>Nenhum registro de acompanhamento até agora. Consulte mais tarde.</p>
    </div>
  <% end %>
<% else %>
  <p class="text-center">Pedido <strong><%= params[:query] %></strong> não encontrado
<% end %>

