<h1 class="text-center">Detalhes do Pedido</h1>
<h2 class="text-center"><%= @order.order_number %></h2>
<dl>
  <dt>Data de Entrega:</dt>
  <dd><%= @order.delivery_date %></dd>

  <dt>Valor da Ordem:</dt>
  <dd><%= @order.order_value %></dd>

  <dt>Peso do Pacote:</dt>
  <dd><%= @order.package_weight %></dd>

  <dt>Volume do Pacote:</dt>
  <dd><%= @order.package_volume %></dd>

  <dt>Distância:</dt>
  <dd><%= @order.distance %></dd>

  <dt>Transportado por:</dt>
  <dd><%= @order.carrier.brand_name %></dd>

  <dt>Origem:</dt>
  <dd><%= @order.origin_address %></dd>

  <dt>Destino:</dt>
  <dd><%= @order.destiny_address %></dd>

  <dt>Situação do Pedido:</dt>
  <dd><%= I18n.t(@order.status) %></dd>
  </dl>

<% if user_signed_in?%>
<table>
<tr>
  <td>
    <%= button_to 'Aceitar Pedido', accepted_order_path(@order.id), class: 'btn btn-outline-info'  %>
  </td>
  <td>
    <%= button_to 'Rejeitar Pedido', rejected_order_path(@order.id), class: 'btn btn-outline-danger' %>
  </td>
  <td>
    <%= button_to 'Marcar como Entregue', delivered_order_path(@order.id), class: 'btn btn-outline-success'  %>
  </td>
</tr>
<table>
<%= link_to 'Voltar', orders_path, class: 'btn btn-secondary', style: '--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;' %>
<hr />
<h2 class="text-center">Histórico do Pedido</h2>
<br />
<div class="text-center">
  <%= link_to 'Adicionar Atualização de Rota', new_order_tracking_log_path(order_id: @order.id), class: 'btn btn-primary', style: '--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;' %>
</div>
<br /><br />
<table class="table text-center">
  <thead>
    <tr>
      <th>Data</th>
      <th>Descrição</th>
      <th>Local</th>
    </tr>
  </thead>
  <tbody>
  <% @order.tracking_logs.each do |log| %>
  <tr>
    <td><%= log.when %></td>
    <td><%= log.what %></td>
    <td><%= log.where %></td>
  </tr>
  <% end %>
</table>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<% end %>