<br />
<h1 class="text-center"><%= current_user.carrier.brand_name %></h1>
<h2 class= "text-center">Configuração de Prazos</h2>
<br /><br />
<table class="table text-center m-auto" style="max-width: 800px">
  <thead>
    <tr>
      <th></th>
      <th>De</th>
      <th>Até</th>
      <th>Tempo estimado</th>
      <th>Ação</th>
    </tr>
  </thead>
  
  <% @delivery_distances.each do |dd| %>
    <tr>
      <td><%= dd.id %></td>
      <td><%= dd.from_km %> km</td>
      <td><%= dd.to_km %> km</td>
      <% distance = @carrier.delivery_times.find_by(delivery_distance_id: dd.id) %>
      <td><%= distance.nil? ? ' ' : (distance.time == 1 ? "#{distance.time} dia" : "#{distance.time} dias" ) %></td>
      <td>
        <%= distance.nil? ? (link_to 'Cadastrar', new_user_delivery_time_path(carrier_id: @carrier.id, delivery_distance_id: dd.id)) : (link_to 'Editar', edit_user_delivery_time_path(dd.id), class: 'btn btn-outline-warning') %>
      </td>
    </tr>
  <% end %>
</table>