<div class="m-auto" style="max-width: 700px">
<%= form_with model: @vehicle do |v| %>
  <div>
    <%= v.label :model, 'Modelo' %>
    <%= v.text_field :model %>
  </div>
  
  <div>
    <%= v.label :brand, 'Marca' %>
    <%= v.text_field :brand %>
  </div>

  <div>
    <%= v.label :year, 'Ano'%>
    <%= v.number_field :year %>
  </div>

  <div>
    <%= v.label :license_plate, 'Placa' %>
    <%= v.text_field :license_plate %>
  </div>

  <%= v.hidden_field :carrier_id, value: @carrier.id %>

  <div>
    <%= v.submit 'Enviar' %>
  </div>

<% end  %>

<%= link_to 'Voltar', vehicles_path %>