<h1><%= @carrier.brand_name %> - Veículos Cadastrados</h1>

<%= link_to 'Cadastrar Veículo', new_vehicle_path %>

<table border = "1">
  <tr>
    <th>Modelo</th>
    <th>Marca</th>
    <th>Ano</th>
    <th>Placa</th>
    <th>Transportadora</th>
    <th>Ações</th>
  </tr>
  <% @vehicles.each do |v| %>
    <tr>
      <td><%= v.model %></td>
      <td><%= v.year %></td>
      <td><%= v.brand %></td>
      <td><%= v.license_plate %></td>
      <td><%= v.carrier.brand_name %></td>
      <td><%= link_to 'Editar', edit_vehicle_path(v) %>
    </tr>
  <% end  %>
</table>
