<h1>Tabela de Preços de <%= current_user.carrier.brand_name %></h1>
<table border="1">
  <thead>
    <tr>
      <th rowspan="2">Id</th>
      <th colspan="2">Volume</th>
      <th colspan="2">Peso</th>
      <th rowspan="2">Preço por Km</th>
      <th rowspan="2">Ação</th>
    </tr>
    <tr>
      <th>De</th>
      <th>Até</th>
      <th>De</th>
      <th>Até</th>
    </tr>
  </thead>
<% @price_ranges.each do |price_range|  %>
  <tr>
    <td><%= number_with_precision(price_range.id) %></td>
    <td><%= number_with_precision(price_range.volume_start) %> m³</td>
    <td><%= number_with_precision(price_range.volume_end) %> m³</td>
    <td><%= number_with_precision(price_range.weight_start) %> kg</td>
    <td><%= number_with_precision(price_range.weight_end) %> kg</td>
    <% range_price = @carrier.distance_prices.find_by(price_range_id: price_range.id) %>
    <td>R$ <%= range_price.nil? ? ' ' : number_with_precision(range_price.km_price, precision: 2) %></td>
    <td>
      <%= range_price.nil? ? (link_to 'Criar', new_distance_price_path(carrier_id: @carrier.id, price_range_id: price_range.id)) : (link_to 'Editar', edit_distance_price_path(range_price.id)) %>
    </td>
  </tr>
<% end  %>
</table>