<%= form_with model: [:admin, @carrier] do |c| %>
  <div>
    <%= c.label :corporate_name %>
    <%= c.text_field :corporate_name %>
  </div>
  
  <div>
    <%= c.label :brand_name %>
    <%= c.text_field :brand_name %>
  </div>

  <div>
    <%= c.label :email_domain %>
    <%= c.text_field :email_domain %>
  </div>

  <div>
    <%= c.label :taxpayer_number %>
    <%= c.number_field :taxpayer_number %>
  </div>

  <div>
    <%= c.label :status %>
    <%= c.select :status, Carrier.statuses.keys %>
  </div>
  <div>
    <%= c.submit 'Enviar' %>
  </div>

<% end %>

<div class="text-center">
  <%= link_to 'Voltar', admin_carriers_path, class: 'btn btn-primary' %>
</div>