<!DOCTYPE html>
<html>
  <head>
    <title>Frete nos Trilhos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Transportadoras', carriers_path %> |
      <%= link_to 'Cadastrar Transportadora', new_carrier_path %> |
      <%= link_to 'Entrar', new_user_session_path %> |
      <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
