<!DOCTYPE html>
<html>
  <head>
    <title>Frete nos Trilhos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>
    <nav>
      <%= link_to 'Home', root_path %> |
      <%= link_to 'Transportadoras', carriers_path %> |
      <%= link_to 'Cadastrar Transportadora', new_carrier_path %> |
      <%= link_to 'Veículos', vehicles_path %> |

      <% if user_signed_in? %>
        <%= current_user.email %> |
        <%= button_to 'Sair', destroy_user_session_path, method: :delete %>
      <% elsif !admin_signed_in? %>
        <%= link_to 'Entrar', new_user_session_path %> |
      <% end %>

      <% if admin_signed_in? %>
        <%= current_admin.email %> |
        <%= button_to 'Sair', destroy_admin_session_path, method: :delete %>
      <% elsif !user_signed_in? %>
        <%= link_to 'Admin', new_admin_session_path %> |
      <% end %>
     
    </nav>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
